
     
body {
    background-color: lightblue;
}

.card {
    transition: transform 0.2s;
    margin-bottom: 20px;
}

.navbar-brand {
    font-weight: bold;
}
#cart-link {
    cursor: pointer;
}
.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
       