* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #cfe8ef;
    font-family: 'Segoe UI', sans-serif;
    overflow-x: hidden;
}

.navbar {
    padding: 10px 0;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#search input {
    width: 250px;
}


.nav-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.navbar-brand {
    font-weight: bold;
    font-size: 20px;
}



#menuBtn {
    display: none;
    border-radius: 8px;
    padding: 6px 10px;
}





#search {
    display: flex;
    align-items: center;
    gap: 10px;
}

#search input {
    padding: 8px 14px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
    width: 220px;
    transition: 0.2s;
}

#search input:focus {
    border-color: #0d6efd;
}

#search button {
    border-radius: 20px;
}



.sidebar {
    position: fixed;
    top: 0;
    left: -260px;
    width: 260px;
    height: 100%;
    background: #111;
    color: white;
    padding: 20px;
    transition: 0.3s ease;
    z-index: 1000;
}

.sidebar.active {
    left: 0;
}

.close-btn {
    font-size: 22px;
    text-align: right;
    cursor: pointer;
    margin-bottom: 20px;
}

.sidebar .logo {
    margin-bottom: 30px;
    font-size: 22px;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 15px 0;
    font-size: 18px;
    transition: 0.2s;
}

.sidebar a:hover {
    color: #0d6efd;
    padding-left: 5px;
}



#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    z-index: 999;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}



.container {
    max-width: 1200px;
    margin-top: 20px;
}



.card {
    border-radius: 15px;
    overflow: hidden;
    transition: 0.3s;
    margin-bottom: 20px;
    border: none;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 15px;
}

.btn-primary {
    border-radius: 20px;
    padding: 6px 15px;
}



footer {
    margin-top: 40px;
}


@media (max-width: 992px) {
    #menuBtn {
        display: block;
    }
}

@media (max-width: 992px) {

    .navbar .container-fluid {
        flex-wrap: wrap;
    }

    #search input {
        width: 160px;
    }
}

@media (max-width: 768px) {

    #search {
        width: 100%;
        margin-top: 10px;
    }

    #search input {
        width: 100%;
    }

    .card-img-top {
        height: 180px;
    }

    .sidebar {
        width: 240px;
    }
}

@media (max-width: 576px) {

    .navbar-brand {
        font-size: 16px;
    }

    .card-img-top {
        height: 160px;
    }
}